<script>
	$(document).ready(function() {
		$('.row').animate({
			// 'margin-left':'50px',
			'opacity':'1'
		}, 1500);
	});
</script>

<div class="row">
	<div class="col-md-12 header">
		<div class="logo">
			<a href="#/home"><img src="public/img/oglit_logo.png" alt=""></a>
		</div>

		<div class="title">
			<h1>{{title}}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<p class="cliente-nombre">Hamburguesas del oeste</p>
					<img class="img-cliente" src="public/img/hdo.png" alt="">
					<p class="cliente-city">Ciudad: <span class="badge">Medellin</span></p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<p class="cliente-nombre">Hamburguesas del oeste</p>
					<img class="img-cliente" src="public/img/biofrut.png" alt="">
					<p class="cliente-city">Ciudad: <span class="badge">Bucaramanga</span></p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="footer-nav">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/servicios">Servicios</a></li>
				<li><a href="#/portafolio">Portafolio</a></li>
				<li><a href="#/contacto">Contacto</a></li>
				<li class="logo-footer"><a href="#/home"><img src="public/img/oglit_logo.png" alt=""></a></li>
			</ul>
		</div>
	</div>


</div>