<script>
	$(document).ready(function() {
		$('.row').animate({
			// 'margin-left':'50px',
			'opacity':'1'
		}, 1500);
	});
</script>

<div class="row">
	<div class="col-md-12 header">
		<div class="logo">
			<a href="#/home"><img src="public/img/oglit_logo.png" alt=""></a>
		</div>

		<div class="title">
			<h1>{{title}}</h1>
		</div>
	</div>

	<div class="row paneles">
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Desarrollo de páginas web</div>
				<div class="panel-body paquetes">
					<h4>Incluye:</h4>
					<li>Portafolio servicios/productos</li>
					<li>Formulario de contacto</li>
					<li>Info empresa</li>

					<h4 class="desde">Desde: <span class="label label-danger">$1.000.000</span></h4>
				</div>
			</div>			
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Desarrollo de aplicaciones web</div>
				<div class="panel-body paquetes">
					<h4>Incluye:</h4>
					<li>Portafolio servicios/productos</li>
					<li>Formulario de contacto</li>
					<li>Registro de usuarios</li>
					<li>Carrito de compra</li>
					<li>Info empresa</li>

					<h4 class="desde">Desde: <span class="label label-danger">$3.000.000</span></h4>
				</div>
			</div>			
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Desarrollo de app móviles</div>
				<div class="panel-body paquetes">
					<h4>Incluye:</h4>
					<li>Portafolio servicios/productos</li>
					<li>Formulario de contacto</li>
					<li>Registro de usuarios</li>
					<li>Carrito de compra</li>
					<li>Info empresa</li>

					<h4 class="desde">Desde: <span class="label label-danger">$3.000.000</span></h4>
				</div>
			</div>			
		</div>
	</div>
	
	<div class="row footer">
		<h2>Condiciones</h2>
		<p>* No incluye matenimiento ni cambios una vez entregado el servicio</p>
		<div class="footer-nav">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/servicios">Servicios</a></li>
				<li><a href="#/portafolio">Portafolio</a></li>
				<li><a href="#/contacto">Contacto</a></li>
				<li class="logo-footer"><a href="#/home"><img src="public/img/oglit_logo.png" alt=""></a></li>
			</ul>
		</div>
	</div>

</div>